<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>NFL: Defense v. Offense</title>

         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!--jQuery and libraries for chart-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

        <!-- Our Custom CSS -->
		<link rel="stylesheet" href="static/style.css">
		
		<!-- Bootstrap Js CDN for html styling-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

		<!-- Plotly for gauge-->
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    </head>
    <body>



        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Project Links</h3>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="/synopsis">Synopsis</a>
                    </li>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Visualizations</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="/turnovers">Turnovers</a></li>
                            <li><a href="/pass_yards">Passing Yards</a></li>
							<li><a href="/rush_yards">Rushing Yards</a></li>
							<li><a href="/points">Points</a></li>
							<li><a href="/multiline">Multiline</a></li>
                        </ul>
                    </li>
                    <li>
							<a href="/data.json">Data</a>
							<a href="/data">Table</a>
							<a href="/calculator">Wins Calculator</a>
							<a href="https://github.com/mu13j/Group-Project">GitHub Repository</a>
					</li>
                    <li>
                        <a href= "#pageSubmenu" data-toggle="collapse" aria-expanded="false">Group Members</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="https://github.com/mu13j">Josh</a></li>
                            <li><a href="https://github.com/coreyplott">Corey</a></li>
                            <li><a href="https://github.com/ramchepuri">Ram</a></li>
                            <li><a href="https://github.com/separks09">Sharon</a></li>
                            <li><a href="https://github.com/kelvinhy2005">Kelvin</a></li>
                        </ul>
                    </li>

                </ul>

                <ul class="list-unstyled CTAs">
                    <p>Original Data Source</p>
                    <li><a href="http://sportsdatabase.com/nfl/query" class="download">sportsdatabase.com</a></li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-primary navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Menu</span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
								<!-- Trigger the modal with a button -->
                                <li>	
									<button type="button" class="btn btn-primary navbar-btn" id = "myGauge"
									data-toggle="modal" data-target="#myModal" onclick="gauge()">Accuracy Gauge</button>
								</li>
                            
                            </ul>
                        </div>
                    </div>
                </nav>

                <h3>Rushing Yards vs. Rushing Yards Allowed</h3>
				<p> Visualizing wins (size of bubble) on one axis of the offensive statistic and 
					another axis of the defensive statistic. </p>

                <div class="line"></div>

                <div id="chart"></div>

                <div class="line"></div>

                

                <div class="line"></div>

            </div>
        </div>
	

	<script src="static/d3.js"></script>
	<script>
		// Various accessors that specify the four dimensions of data to visualize.
		function x(d) { return d.horizontal; }
		function y(d) { return d.vertical; }
		function radius(d) { return d.circleSize*1.5; }
		function color(d) { return d.region; }
		function key(d) { return d.name; }

		// Chart dimensions.
		var 	margin = {top: 19.5, right: 19.5, bottom: 19.5, left: 39.5},
				width = 1024 - margin.right,
				height = 640 - margin.top - margin.bottom;

		// Various scales. These domains make assumptions of data, naturally.
		//var xScale = d3.scale.log().domain([0, 1e5]).range([0, width]),
		var 	xScale = d3.scale.linear().domain([1000, 3000]).range([0, width]),  
				yScale = d3.scale.linear().domain([1000, 3000]).range([height, 0]),
				radiusScale = d3.scale.linear().domain([0, 50]).range([0, 100]),
				//colorScale = d3.scale.category10();
				colorScale = d3.scale.ordinal()
					.range([ 
						'#C83803',//Bears
						'#FB4F14',//Bengals
						'#00338D',//Bills
						'#FC4C02', //Broncos
						'#FF3C00', //Browns
						'#C8102E', //Bucs
						"#97233F",//Cardinals
						'#0073CF', //Chargers
						'#C8102E', //Chiefs
						'#003A70', //Colts
						'#869397', //Cowboys
						'#008E97', //Dolphins
						'#004953', //Eagles
						"#A71930", //Falcons
						'#A6192E', //49ers
						'#0B2265', //Giants
						'#9A7611', //Jags
						'#203731', //Jets
						'#005A8B', //Lions
						'#418FDE', //Oilers
						'#183028', //Packers
						'#0085CA', //Panthers
						'#002244', //Patriots
						'#87909A', //Raiders
						'#041E42', //Rams
						"#241773", //Ravens
						'#773141', //Redskins
						'#D3BC8D', //Saints
						'#69BE28', //Seahawks
						'#FFB81C', //Steelers
						'#03202F', //Texans
						'#002244', //Titans
						'#4F2683' //Vikings
						]
					);

		// The x & y axes.
		var 	xAxis = d3.svg.axis().orient("bottom").scale(xScale).ticks(12, d3.format(",d")),
				yAxis = d3.svg.axis().scale(yScale).orient("left");

		// Create the SVG container and set the origin.
		var 	svg = d3.select("#chart").append("svg")
					.attr("width", width + margin.left + margin.right)
					.attr("height", height + margin.top + margin.bottom)
					.append("g")
					.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

				// Add the x-axis.
				svg.append("g")
					.attr("class", "x axis")
					.attr("transform", "translate(0," + height + ")")
					.call(xAxis);

				// Add the y-axis.
				svg.append("g")
					.attr("class", "y axis")
					.call(yAxis);

				// Add an x-axis label.
				svg.append("text")
					.attr("class", "x label")
					.attr("text-anchor", "end")
					.attr("x", width)
					.attr("y", height - 6)
					.text("Rushing Yards");

				// Add a y-axis label.
				svg.append("text")
					.attr("class", "y label")
					.attr("text-anchor", "end")
					.attr("y", 6)
					.attr("dy", ".75em")
					.attr("transform", "rotate(-90)")
					.text("Rushing Yards Allowed");

				// Add the year label; the value is set on transition.
				var label = svg.append("text")
					.attr("class", "year label")
					.attr("text-anchor", "end")
					.attr("y", height - 24)
					.attr("x", width)
					.text(1989);

		// Load the data.
		d3.json("data.json", function(parliment) {

		// A bisector since many nation's data is sparsely-defined.
		var bisect = d3.bisector(function(d) { return d[0]; });

		// Add a dot per nation. Initialize the data at 1945, and set the colors.
		var dot = svg.append("g")
			.attr("class", "dots")
			.selectAll(".dot")
			.data(interpolateData(19))
			.enter().append("circle")
			.attr("class", "dot")
			.style("fill", function(d) { return colorScale(color(d)); })
			.style('opacity',.8)
			.call(position)
			.sort(order);

		// Add a title.
		dot.append("title")
			.text(function(d) { return d.name; });

		// Add an overlay for the year label.
		var box = label.node().getBBox();

		var overlay = svg.append("rect")
				.attr("class", "overlay")
				.attr("x", box.x)
				.attr("y", box.y)
				.attr("width", box.width)
				.attr("height", box.height)
				.on("mouseover", enableInteraction);

		// Start a transition that interpolates the data based on year.
		svg.transition()
			.duration(30000)
			.ease("linear")
			.tween("year", tweenYear)
			.each("end", enableInteraction);

		// Positions the dots based on data.
		function position(dot) {
			dot 	.attr("cx", function(d) { return xScale(x(d)); })
					.attr("cy", function(d) { return yScale(y(d)); })
					.attr("r", function(d) { return radiusScale(radius(d)); });
		}

		// Defines a sort order so that the smallest dots are drawn on top.
		function order(a, b) {
			return radius(b) - radius(a);
		}

		// After the transition finishes, you can mouseover to change the year.
		function enableInteraction() {
			var yearScale = d3.scale.linear()
				.domain([1989, 2017])
				.range([box.x + 10, box.x + box.width - 10])
				.clamp(true);

			// Cancel the current transition, if any.
			svg.transition().duration(0);

			overlay
				.on("mouseover", mouseover)
				.on("mouseout", mouseout)
				.on("mousemove", mousemove)
				.on("touchmove", mousemove);

			function mouseover() {
			label.classed("active", true);
			}

			function mouseout() {
			label.classed("active", false);
			}

			function mousemove() {
			displayYear(yearScale.invert(d3.mouse(this)[0]));
			}
		}

		// Tweens the entire chart by first tweening the year, and then the data.
		// For the interpolated data, the dots and label are redrawn.
		function tweenYear() {
			var year = d3.interpolateNumber(1989, 2017);
			return function(t) { displayYear(year(t)); };
		}

		// Updates the display to show the specified year.
		function displayYear(year) {
			dot.data(interpolateData(year), key).call(position).sort(order);
			label.text(Math.round(year));
		}

		// Interpolates the dataset for the given (fractional) year.
		function interpolateData(year) {
			return parliment.map(function(d) {
			return {
				name: d.team,
				region: d.team,
				circleSize: interpolateValues(d.win, year),
				horizontal: interpolateValues(d.rush_yds, year),
				vertical: interpolateValues(d.opp_rush_yds, year)
			};
			});
		}

		// Finds (and possibly interpolates) the value for the specified year.
		function interpolateValues(values, year) {
			var i = bisect.left(values, year, 0, values.length - 1),
				a = values[i];
			if (i > 0) {
			var b = values[i - 1],
				t = (year - a[0]) / (b[0] - a[0]);
			return a[1] * (1 - t) + b[1] * t;
			}
			return a[1];
		}
		});

		function gauge() {
                // Enter a speed between 0 and 180
                var level = .454;

                // Trig to calc meter point
                var degrees = 180 - level*180,
                    radius = .5;
                var radians = degrees * Math.PI / 180;
                var x = radius * Math.cos(radians);
                var y = radius * Math.sin(radians);

                // Path: may have to change to create a better triangle
                var mainPath = 'M -.0 -0.025 L .0 0.025 L ',
                    pathX = String(x),
                    space = ' ',
                    pathY = String(y),
                    pathEnd = ' Z';
                var path = mainPath.concat(pathX,space,pathY,pathEnd);

                var data = [{ type: 'scatter',
                x: [0], y:[0],
                    marker: {size: 28, color:'850000'},
                    showlegend: false,
                    name: 'R^2 Adjusted',
                    text: level,
                    hoverinfo: 'text+name'},
                { values: [50/5, 50/5, 50/5, 50/5, 50/5, 50],
                rotation: 90,
                text: ['.8-1', '.6-.8', '.4-.6',
                            '.2-.4', '0-.2', ''],
                textinfo: 'text',
                textposition:'inside',
                marker: {colors:['rgba(110, 154, 22, .5)',
                                        'rgba(170, 202, 42, .5)', 'rgba(202, 209, 95, .5)',
                                        'rgba(210, 206, 145, .5)', 'rgba(232, 226, 202, .5)',
                                        'rgba(255, 255, 255, 0)']},
                labels: ['.8-1', '.6-.8', '.4-.6', '.2-.4', '0-.2', ''],
                hoverinfo: 'label',
                hole: .5,
                type: 'pie',
                showlegend: false
                }];

                var layout = {
                shapes:[{
                    type: 'path',
                    path: path,
                    fillcolor: '850000',
                    line: {
                        color: '850000'
                    }
                    }],
                title: 'R^2 Adjusted of Rushing Yards',
                height: 500,
                width: 500,
                xaxis: {zeroline:false, showticklabels:false,
                            showgrid: false, range: [-1, 1]},
                yaxis: {zeroline:false, showticklabels:false,
                            showgrid: false, range: [-1, 1]}
                };

                Plotly.newPlot('gauge', data, layout);
            ;}
        
	</script>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
	  
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">How accurate was this predictor?</h4>
			</div>
			<!--Plot guage in modal-->
			<div class="modal-body" id='gauge'></div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
	  
		</div>
	  </div>
	  
	  
		  <!--Collapse sidebar-->
		  <script type="text/javascript">
		  $(document).ready(function () {
			  $('#sidebarCollapse').on('click', function () {
				  $('#sidebar').toggleClass('active');
			  });
		  });
		  </script>
	  
		  </body>
	  </html>