<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>NFL: Defense v. Offense</title>

         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!--jQuery and libraries for chart-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

        <!-- Our Custom CSS -->
		<link rel="stylesheet" href="static/style.css">
		
		<!-- Bootstrap Js CDN for html styling-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

		<!-- Plotly for gauge-->
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    </head>
    <body>



        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Project Links</h3>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="/synopsis">Synopsis</a>
                    </li>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Visualizations</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="/turnovers">Turnovers</a></li>
                            <li><a href="/pass_yards">Passing Yards</a></li>
							<li><a href="/rush_yards">Rushing Yards</a></li>
							<li><a href="/points">Points</a></li>
                        </ul>
                    </li>
                    <li>
                            <a href="/data.json">Data</a>
                            <a href="/data">Table</a>
                            <a href="https://github.com/mu13j/Group-Project">GitHub Repository</a>
                    </li>
                    <li>
                        <a href= "#pageSubmenu" data-toggle="collapse" aria-expanded="false">Group Members</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="https://github.com/mu13j">Josh</a></li>
                            <li><a href="https://github.com/coreyplott">Corey</a></li>
                            <li><a href="https://github.com/ramchepuri">Ram</a></li>
                            <li><a href="https://github.com/separks09">Sharon</a></li>
                            <li><a href="https://github.com/kelvinhy2005">Kelvin</a></li>
                        </ul>
                    </li>

                </ul>

                <ul class="list-unstyled CTAs">
                    <p>Original Data Sources</p>
                    <li><a href="http://statheads.com/pro-football/query/" class="download">StatHeads.com</a></li>
                    <li><a href="https://github.com/BurntSushi/nfldb" class="download">BurntSushi/nfldb</a></li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-primary navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Menu</span>
                            </button>
                        </div>

                       
                    </div>
                </nav>

                <h1>What Wins Football Games: Offense or Defense?</h1>
                <h3> Team Members: Sharon Parks, Joshua Mu, Kelvin So, Ram Chepuri, Corey Plott</h3>
                <p> Project Scope: Comparing the offensive and defensive stats for all NFL teams during the year for the last twenty years and analyzing how those stats yield wins. </p>
                <p> Initial hypothesis: While the phrase “Defense wins championships, but offense wins games” is popular among the football community, our group is interested how accurate this statement is. 
                  
                 <p> Data pulled:
                  1.	Defensive stats allowed (y-axis):
                      a.	Turnovers allowed
                      b.	Passing yards allowed
                      c.	Rushing yards allowed and 
                      d.	Points allowed
                  2.	Offensive stats gained (x axis):
                      a.	Turnovers 
                      b.	Passing yards gained
                      c.	Rushing yards gained and
                      d.	Points scored
                  3.	Team wins (bubble radius)
                  </p>    
                   </p>
              
                   <p>Inspiring visualization: The final product, a motion chart like the one below, will show the offensive yards on the x axis, the defensive yards allowed on the y axis and the team wins will reflect the bubble radius. </p>
              
                 <img src="http://3.bp.blogspot.com/_ZyD6dMHokUQ/TSEqL-hgbmI/AAAAAAAAAEw/YHfbvl7zrpU/s1600/gapminder.jpg" 
                    style="width:800px;height:500px;" class="img-fluid float-right">
                   </p>
                   <p><a href="http://sportsdatabase.com/nfl/query">Link to database: http://sportsdatabase.com/nfl</a></p>
                    <p><a href="https://github.com/mu13j/Group-Project">Github Repository: https://github.com/mu13j/Group-Project</a></p>
                     <p>   Technologies used: Python, Flask, SQLAlchemy, SQLite, RESTful API, D3, Plotly, Bootstrap. </p>
                     <p>   User interaction: Motion Chart, Searchable Table, Dropdown Menus</p>
                         
              <footer class="page-footer">
              
                  <!--Copyright-->
                  <div class="footer-copyright">
                    &copy; Copyright Coding Bootcamp 2018
                     
                  </div>
                  <!--/.Copyright-->
                
              </footer>

                <div class="line"></div>

                    <div class="line"></div>

            </div>
        </div>
	
	<script type="text/javascript">
	$(document).ready(function () {
		$('#sidebarCollapse').on('click', function () {
			$('#sidebar').toggleClass('active');
		});
	});
	</script>

	</body>
</html>